= form_tag(weight_logs_path, method: 'get') do
  = label_tag(:from, 'from')
  = date_field_tag :from, @from
  = label_tag(:to, 'to')
  = date_field_tag :to, @to
  = submit_tag 'Update chart', data: { disable_with: false }
  = submit_tag 'CSV', data: { disable_with: false }
= line_chart @charted_weight_logs

%p
  your tendency breaks:
  = local_maxima_and_minima(@from..@to, current_user.biometric)

= form_for WeightLog.new do |f|
  = f.label :date
  = f.date_field :date
  = f.label :weight
  = f.number_field :weight
  = f.submit

- @weight_logs.each do |log|
  = form_for log do |f|
    = f.label :date
    = f.date_field :date
    = f.label :weight
    = f.number_field :weight
    = f.submit
  = button_to :delete, weight_log_path(log), method: 'delete'
